{% extends "casa/layouts/main.njk" %}
{% block head %}
  {{ super() }}
  {% include "partials/styles.njk" %}
{% endblock %}

{% block bodyStart %}
  {% include "components/cookie-consent-banner.njk" %}
  <script src="/assets/js/cookie-consent.js" nonce="{{ gtmNonce }}"></script>
{% endblock %}